@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.content-title {
  margin-bottom: 2rem;
  text-align: center;
  
  &__title {
    margin-bottom: 1rem;
    color: $primary;
  }

  &__subtitle {
    color: $primary;

   @include breakpoint-down(small) {
    font-size: 12px;
   }
  }
}