@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;


.technology {

  &__tech-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;    
    
    @include breakpoint-down(medium) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint-down(small) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__tech-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
      height: auto;
      width: 100%;
      aspect-ratio: 3/2;
      object-fit: contain;
      mix-blend-mode: color-burn;
    }
  }
}