@use './styles/variables.scss' as *;
@use './styles/mixins.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body { 
  color: $primary; // Using the namespace for the variable
 
  @include breakpoint-down(small) {
    min-width: 375px;
    
    h1 {
      font-size: 29vw; // Adjust font-size for larger screens 
    }
  } 
  
  @include breakpoint-up(medium) {
    h1 {
      font-size: 15vw; // Adjust font-size for larger screens 
    }
  } 
}

.container {
  padding: 50px 30px;

  &--no-pt {
    padding-top: 0;
  }
}

.bold {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $primary;
}